**/.terraform/*
.terraform/*

#infra
infra/.terraform/*
infra/**/.terraform/*
infra/.terraform.lock.hcl

#ecs
ecs/.terraform/*
ecs/**/.terraform/*
ecs/.terraform.lock.hcl

terraform*
# .tfstate files
*.tfstate
*.tfstate.*

infra/*.tfstate
infra/*.tfstate.*

# Crash log files
crash.log
crash.*.log

infra/crash.log
infra/crash.*.log


# go files
go.mod
go.sum
